sensitiveEnv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

**/.DS_Store

flaskr/static/images/LR
flaskr/static/images/XGB

flaskr/model/cross_val_stats.pkl
flaskr/model/main_data.pkl
flaskr/model/XGB_cross_val_stats.pkl
flaskr/model/XGB_main_data.pkl
flaskr/model/LSTM_cross_val_stats.pkl
flaskr/model/SVM_main_data.pkl