sensitiveEnv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

**/.DS_Store

flaskr/model/sensitive_data.pkl
flaskr/model/test_features.sav
flaskr/model/train_features.sav
flaskr/model/validation_features.sav
flaskr/model/one_hot_lr_model.sav
