{% extends 'base.html' %}

{% block header %}
  <h1>
    {% block title %}Classifier Information{% endblock %}
  </h1>
{% endblock %}

{% block content %}
  <div>
    F1 score:
    {{ prediction }}
  </div>

  Confusion Matrix:
  {{ confusion_matrix_score }}
  <li>
    <a href="{{ url_for('classifier.sensitive_info') }}">Features that identify a document as sensitive</a>
  </li>
  <li>
    <a href="{{ url_for('classifier.non_sensitive_info') }}">Features that identify a document as non sensitive</a>
  </li>
  <li>
    <a href="{{ url_for('classifier.general_sensitivity_info') }}">General stats on the collection level</a>
  </li>
  <li>
    <a href="{{ url_for('classifier.single_document_sensitivity_info') }}">Stats for a single document</a>
  </li>

{% endblock %}
