{% extends 'base.html' %}

{% block header %}
  <h1>
    {% block title %}General Sensitive Information{% endblock %}
  </h1>
{% endblock %}

{% block content %}
  <div class="general_body">
    <div class="f1_score">
      F1 score:
      {{ prediction }}
    </div>

    <div class="matrix_title">
      Confusion Matrix
    </div>
    <div class="matrix_header">
      Positive Negative
    </div>
    <div>
      <div class="matrix_row_label">
        Positive
      </div>
      <div class="matrix_row">
        <div class="matrix_values">
          TP:{{ confusion_matrix_score[0,0] }}
        </div>
        <div class="matrix_values">
          FP:{{ confusion_matrix_score[0,1] }}
        </div>
      </div>
    </div>
    <div>
      <div class="matrix_row_label">
        Negative
      </div>
      <div class="matrix_row">
        <div class="matrix_values">
          FN:{{ confusion_matrix_score[1,0] }}
        </div>
        <div class="matrix_values">
          TN:{{ confusion_matrix_score[1,1] }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
