{% extends 'base.html' %}

{% block header %}
  <h2>
    {% block title %}General Sensitive Information{% endblock %}
  </h1>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ url_for('classifier.classifier_main_page') }}">Home</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">General Info</li>
{% endblock %}

{% block content %}

  <form method="post">
    <div class="dropdown center">
      <button class="btn btn-secondary dropdown-toggle white_button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        {{curr_clf}}
        Classifier
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
          <input class="dropdown-item" id="dropdown" type="submit" name="clf_option" value="LR" onclick="loading();">
        </li>
        <li>
          <input class="dropdown-item" id="dropdown" type="submit" name="clf_option" value="XGB" onclick="loading();">
        </li>
        <li>
          <input class="dropdown-item" id="dropdown" type="submit" name="clf_option" value="SVM" onclick="loading();">
        </li>
      </ul>
    </div>
  </form>

  <div class="general_body">
    <div class="f1_score">
      <div>
        F1 micro score:
        {{ predictions["f1_micro"] }}
      </div>
      <div>
        F1 macro score:
        {{ predictions["f1_macro"] }}
      </div>
    </div>
    <div class="f1_score">
      <div>
        Accuracy:
        {{ predictions["accuracy"] }}
      </div>
      <div>
        Precision:
        {{ predictions["precision"] }}
      </div>
    </div>

    <div class="center">
      <img src="{{conf_mat_png}}" width='70%' height='70%' alt="Confusion Matrix"/>
    </div>
    <div class="center">
      {% for i in shap_images %}
        <img src="{{i}}" width='45%' height='45%' alt="Shap image"/>

      {% endfor %}

      <!-- <img src="{{url_for('static', filename='images/shap/LR/shap1.png')}}" width='45%' height='45%' alt="Shap image"/> <img src="{{url_for('static', filename='images/shap/LR/shap2.png')}}" width='45%' height='45%' alt="Shap image"/> <img src="{{url_for('static', filename='images/shap/LR/shap3.png')}}" width='45%' height='45%' alt="Shap image"/> <img src="{{url_for('static', filename='images/shap/LR/shap4.png')}}" width='45%' height='45%' alt="Shap image"/> <img src="{{url_for('static', filename='images/shap/LR/shap5.png')}}" width='45%' height='45%' alt="Shap image"/> -->
    </div>
    {% if eli5_general%}
      <div class="inline">
        <div class="push"></div>
        <div class="column">
          {{ eli5_general|safe }}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
