{% extends 'base.html' %}

{% block header %}
  <!-- <h2> {% block title %}Classifier Information{% endblock %} </h2> -->
{% endblock %}

{% block content %}

  {% if g.user %}
    <div class="top">
      <a class="top_left block_link" href="{{ url_for('classifier.sensitive_info') }}">
        Sensitive Documents Explanations
      </a>
      <a class="top_right block_link" href="{{ url_for('classifier.non_sensitive_info') }}">
        Non-Sensitive Documents Explanations
      </a>
    </div>
  </div>
  <div class="bottom">
    <a class="bottom_left block_link" href="{{ url_for('classifier.single_document_sensitivity_info') }}">
      Sensitive and Non-Sensitive Documents Explanations
    </a>
    <a class="bottom_right block_link" href="{{ url_for('classifier.general_sensitivity_info') }}">
      Classifier Information
    </a>
  </div>

{% else %}
  <!-- <div style="background-image: url({{url_for('static', filename= 'images/background.jpeg')}})"> -->
  <!-- <div style="background-image: url('images/background.jpeg')"> -->

  <div class="back_image">
    <!-- <img src="{{url_for('static', filename='images/background.jpeg')}}" width='70%' height='70%' alt="Shap image"/> -->
    <div class="main_page_content">
      <!-- <h2> Classifier Information </h2> -->
      <div class="title">
        WHY
      </div>
      Government departments, such as the Ministry of Defence, produce a large amount of written communications that are essential for the international operations of government.
      <!-- <hr> -->
      Freedom of Information Laws legislate that these documents should be released to the public.
      <!-- <hr> -->
      However, many of these documents contain sensitive information.
      <!-- <hr> -->
      Therefore, each document needs to be reviewed to identify and withhold any sensitivities.
      <!-- <hr> -->
      This website is a sensitivity review application that integrates automatic sensitivity classification.

      <div class="spacing"></div>

      <div class="title">
        HOW
      </div>
      This system displays documents along with the classifier's predictions as to whether the documents contain any sensitive information.
      <!-- <hr> -->
      Importantly, the system provides useful information to explain why it has predicted that a document is (not) sensitive, such as colour coded highlighting of important term features within a document.
      <!-- <hr> -->
      The system produces useful reports to visualise the similarities and differences between what the classifier belives to be the most important features of sensitivity and features that are present in the collection being reviewed.
      <div class="large_spacing"></div>
      To see the classifier and the explanations made by it, please register or login.
    </div>

    <div class="link">
      <a class="button_border" href="{{ url_for('auth.register') }}">Register</a>
      <a class="button_border" href="{{ url_for('auth.login') }}">Log In</a>
    </div>
  </div>

{% endif %}

{% endblock %}
