{% extends 'base.html' %}

{% block header %}
  <h1>
    {% block title %}Non Sensitive Information{% endblock %}
  </h1>
{% endblock %}

{% block content %}
  <a href="{{ url_for('classifier.classifier_main_page') }}">Go Back</a>
  <div class="center">
    Document number =
    {{document_number}}/{{max_documents}}
  </div>
  {% if isSensitive %}
    <div class="center">
      The document's true label is:
      {{ isSensitive }}
    </div>
  {% endif %}
  <hr>
  <form method="post">
    <div class="document_move">
      <input type="submit" name="submit_button" value="Previous Document">
      <input type="submit" name="submit_button" value="Next Document">
    </div>
  </form>
  <hr>
  <form method="post">
    <select name="options">
      {% for colour in options %}
        <option value="{{ colour }}" name="options" selected="SELECTED">{{ colour }}</option>
      {% endfor %}
      <input type="submit" name="options_button" value="submit">
    </select>
  </form>
  <hr>
  {% if visual_html %}
    <div>
      {{ visual_html|safe }}
    </div>
  {% endif %}
{% endblock %}
