{% extends 'base.html' %}

{% block header %}
  <h2>
    {% block title %}Non-Sensitive Documents{% endblock %}
  </h2>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ url_for('classifier.classifier_main_page') }}">Home</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">Non Sensitive Info</li>
{% endblock %}

{% block content %}

  <div class="page_padding">
    <div id="loading" class="spinner-border end" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

    <div class="double_dropdown">
      <form method="post">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle white_button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{curr_vis}}
            Visual
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <input class="dropdown-item" id="dropdown" type="submit" name="vis_option" value="LIME" onclick="loading();">
            </li>
            <li>
              <input class="dropdown-item" id="dropdown" type="submit" name="vis_option" value="ELI5" onclick="loading();">
            </li>
          </ul>

          <button class="btn btn-secondary dropdown-toggle white_button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{curr_clf}}
            Classifier
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <input class="dropdown-item" id="dropdown" type="submit" name="clf_option" value="LR" onclick="loading();">
            </li>
            <li>
              <input class="dropdown-item" id="dropdown" type="submit" name="clf_option" value="CLF" onclick="loading();">
            </li>
            <li>
              <input class="dropdown-item" id="dropdown" type="submit" name="clf_option" value="SVM" onclick="loading();">
            </li>
          </ul>
        </div>
      </form>
    </div>

    <!-- <div class="double_dropdown"> <form method="post"> <div> <select name="vis_options"> {% for option in vis_options %} <option value="{{ option }}" name="vis_options" selected="SELECTED">{{ option }}</option> {% endfor %} </select> <select name="clf_options"> {% for clf in clf_options %} <option value="{{ clf }}" name="clf_options" selected="SELECTED">{{ clf }}</option> {% endfor %} </select> <input type="submit" name="options_button" value="submit" onclick="loading();"> </div> </form> </div> -->

    <hr>

    <div class="visuals_container">
      <div class="shap">
        {% if shap_html %}
          {{ shap_html|safe }}
        {% endif %}
      </div>

      {% if lime_probas_html %}
        {{ lime_probas_html|safe }}
      {% endif %}
    </div>

    {% if visual_html %}
      {{ visual_html|safe }}
    {% endif %}

  </div>

  <form method="post">
    <nav aria-label="Page navigation example" class="doc_num_nav">
      <ul class="pagination justify-content-center">
        {% if document_number == 1 %}
          <li class="page-item disabled">
            <input class="page-link" type="submit" name="submit_button" value="Previous" onclick="loading();">
          </li>
        {% else %}
          <li class="page-item">
            <input class="page-link" type="submit" name="submit_button" value="Previous" onclick="loading();">
          </li>
        {% endif %}
        {% if document_number > 3 %}
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number-3}}" onclick="loading();">
          </li>
        {% endif %}
        {% if document_number > 2 %}
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number-2}}" onclick="loading();">
          </li>
        {% endif %}
        {% if document_number > 1 %}
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number-1}}" onclick="loading();">
          </li>
        {% endif %}
        <li class="page-item active">
          <input disabled="disabled" class="page-link small_btn" type="submit" name="submit_button" value="{{document_number}}" onclick="loading();">
        </li>
        {% if document_number < max_documents%}
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number+1}}" onclick="loading();">
          </li>
        {% endif %}
        {% if document_number + 1 < max_documents %}
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number+2}}" onclick="loading();">
          </li>
        {% endif %}
        {% if document_number + 2 < max_documents %}
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number+3}}" onclick="loading();">
          </li>
        {% endif %}
        {% if document_number == max_documents %}
          <li class="page-item disabled">
            <input class="page-link" type="submit" name="submit_button" value="Next" onclick="loading();">
          </li>
        {% else %}
          <li class="page-item">
            <input class="page-link" type="submit" name="submit_button" value="Next" onclick="loading();">
          </li>
        {% endif %}
      </ul>
    </nav>
  </form>
{% endblock %}
