{% extends 'base.html' %}

{% block header %}
  <h2>
    {% block title %}Sensitive Documents{% endblock %}
  </h2>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ url_for('classifier.classifier_main_page') }}">Home</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">Sensitive Info</li>
{% endblock %}

{% block content %}
  <div class="page_padding">
    <div id="loading" class="spinner-border end" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

    <div class="double_dropdown">
      <form method="post">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle white_button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{curr_vis}}
            Visual
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <input class="dropdown-item" id="dropdown" type="submit" name="vis_option" value="LIME" onclick="loading();">
            </li>
            <li>
              <input class="dropdown-item" id="dropdown" type="submit" name="vis_option" value="ELI5" onclick="loading();">
            </li>
          </ul>

          <button class="btn btn-secondary dropdown-toggle white_button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{curr_clf}}
            Classifier
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <input class="dropdown-item" id="dropdown" type="submit" name="clf_option" value="LR" onclick="loading();">
            </li>
            <li>
              <input class="dropdown-item" id="dropdown" type="submit" name="clf_option" value="Rf" onclick="loading();">
            </li>
            <li>
              <input class="dropdown-item" id="dropdown" type="submit" name="clf_option" value="SVM" onclick="loading();">
            </li>
          </ul>
        </div>
      </form>
    </div>

    <hr>

    <div class="visuals_container">
      <div class="shap">
        {% if shap_html %}
          {{ shap_html|safe }}
        {% endif %}
      </div>

      {% if lime_probas_html %}
        {{ lime_probas_html|safe }}
      {% endif %}
    </div>

    {% if visual_html %}
      {{ visual_html|safe }}
    {% endif %}
  </div>

  <form method="post">
    <nav aria-label="Page navigation example" class="doc_num_nav">
      <ul class="pagination justify-content-center">
        {% if document_number == 1 %}
          <li class="page-item disabled">
            <input class="page-link" type="submit" name="submit_button" value="Prev" onclick="loading();">
          </li>
        {% else %}
          <li class="page-item">
            <input class="page-link" type="submit" name="submit_button" value="Prev" onclick="loading();">
          </li>
        {% endif %}

        {% if document_number == 1 %}
          <li class="page-item active">
            <input class="page-link small_btn" type="submit" name="submit_button" value="1" onclick="loading();">
          </li>
        {% else %}
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="1" onclick="loading();">
          </li>
        {% endif %}

        <div class="center_dots">
          ...
        </div>

        {% if document_number == 1 %}
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number+1}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number+2}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number+3}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number+4}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number+5}}" onclick="loading();">
          </li>
        {% elif document_number == 2 %}
          <li class="page-item active">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number+1}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number+2}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number+3}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number+4}}" onclick="loading();">
          </li>
        {% elif document_number == 3 %}
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number-1}}" onclick="loading();">
          </li>
          <li class="page-item active">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number+1}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number+2}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number+3}}" onclick="loading();">
          </li>
        {% elif document_number < max_documents - 2 %}
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number-2}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number-1}}" onclick="loading();">
          </li>
          <li class="page-item active">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number+1}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number+2}}" onclick="loading();">
          </li>
        {% elif document_number == max_documents - 2 %}
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number-3}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number-2}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number-1}}" onclick="loading();">
          </li>
          <li class="page-item active">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number+1}}" onclick="loading();">
          </li>
        {% elif document_number == max_documents - 1 %}
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number-4}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number-3}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number-2}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number-1}}" onclick="loading();">
          </li>
          <li class="page-item active">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number}}" onclick="loading();">
          </li>
        {% else %}
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number-5}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number-4}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number-3}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number-2}}" onclick="loading();">
          </li>
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{document_number-1}}" onclick="loading();">
          </li>
        {% endif %}
        <div class="center_dots">
          ...
        </div>
        {% if document_number == max_documents %}
          <li class="page-item active">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{max_documents}}" onclick="loading();">
          </li>
        {% else %}
          <li class="page-item">
            <input class="page-link small_btn" type="submit" name="submit_button" value="{{max_documents}}" onclick="loading();">
          </li>
        {% endif %}
        {% if document_number == max_documents %}
          <li class="page-item disabled">
            <input class="page-link" type="submit" name="submit_button" value="Next" onclick="loading();">
          </li>
        {% else %}
          <li class="page-item">
            <input class="page-link" type="submit" name="submit_button" value="Next" onclick="loading();">
          </li>
        {% endif %}
      </ul>
    </nav>
  </form>
{% endblock %}