{% extends 'base.html' %}

{% block header %}
  <h1>
    {% block title %}Single Document Sensitivity Information{% endblock %}
  </h1>
{% endblock %}

{% block content %}
  <li>
    <a href="{{ url_for('classifier.classifier_main_page') }}">Go Back</a>
  </li>
  document number =
  {{document_number}}/{{max_documents}}
  {% if lime_html %}
    <div class="container">
      {{ lime_html|safe }}
    </div>
  {% endif %}
  {% if shap_plot%}
    <div class="container">
      {{ shap_plot|safe }}
    </div>
  {% endif %}
  <form method="post">
    <input type="submit" name="submit_button" value="Previous Document">
    <input type="submit" name="submit_button" value="Next Document">
  </form>
{% endblock %}
