{% extends 'base.html' %}

{% block header %}
  <h2>
    {% block title %}Sensitive and Non-Sensitive Documents{% endblock %}
  </h2>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ url_for('classifier.classifier_main_page') }}">Home</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">(Non) Sensitive Info</li>
{% endblock %}

{% block content %}
  <div class="page_padding">

    <div class="center">
      Document number =
      {{document_number}}/{{max_documents}}
    </div>
    {% if isSensitive %}
      <div class="center">
        The document's true label is:
        {{ isSensitive }}
      </div>
    {% endif %}

    <hr>

    <form method="post">
      <div class="document_move">
        <input type="submit" name="submit_button" value="Previous" onclick="loading();">
        <div class="cursor_wait">
          <div id="loading" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <input type="submit" name="submit_button" value="Next" onclick="loading();">
      </div>
    </form>

    <div class="double_dropdown">
      <form method="post">
        <div>
          <select name="vis_options">
            {% for option in vis_options %}
              <option value="{{ option }}" name="vis_options" selected="SELECTED">{{ option }}</option>
            {% endfor %}
          </select>
          <select name="clf_options">
            {% for clf in class_options %}
              <option value="{{ clf }}" name="clf_options" selected="SELECTED">{{ clf }}</option>
            {% endfor %}
          </select>
          <input type="submit" name="options_button" value="submit" onclick="loading();">
        </div>
      </form>
    </div>

    <hr>

    <div class="visuals_container">
      <div class="shap">
        {% if shap_html %}
          {{ shap_html|safe }}
        {% endif %}
      </div>

      {% if lime_probas_html %}
        {{ lime_probas_html|safe }}
      {% endif %}
    </div>

    {% if visual_html %}
      {{ visual_html|safe }}
    {% endif %}
  </div>
{% endblock %}
