html,
body {
   font-family: sans-serif;
   padding: 0;
   margin: 0;
}
h1,
h2 {
   font-family: serif;
   color: #377ba8;
}
h1 {
   text-align: center;
   width: 40%;
}
h2 {
   text-align: center;
   width: 100%;
   padding-top: 1%;
}
a {
   color: black;
}
hr {
   border: none;
   border-top: 1px solid lightgray;
}
nav {
   height: 5vh;
   background-color: #e3f2fd;
   position: absolute;
}
nav h1 {
   margin: 0;
}
nav ul {
   display: flex;
   flex: 1;
   flex-direction: row;
   list-style: none;
   margin: 0;
   padding: 0;
   justify-content: flex-end;
   text-align: right;
}
nav ul li a,
nav ul li span,
header .action {
   display: block;
   padding: 0.5rem;
}
.content > header {
   display: flex;
   align-items: flex-end;
}
.content > header h1 {
   flex: auto;
   margin: 1rem 0 0.25rem 0;
}
.flash {
   margin: 1em 0;
   padding: 1em;
   background: #687f8a;
   border: 1px solid #377ba8;
}
.post > header {
   display: flex;
   align-items: flex-end;
   font-size: 0.85em;
}
.post > header > div:first-of-type {
   flex: auto;
}
.post > header h1 {
   font-size: 1.5em;
   margin-bottom: 0;
}
.post .about {
   color: slategray;
   font-style: italic;
}
.post .body {
   white-space: pre-line;
}
.content:last-child {
   margin-bottom: 0;
}
.content form {
   margin: 1em 0;
   display: flex;
   flex-direction: column;
}
.content label {
   font-weight: bold;
   margin-bottom: 0.5em;
}
.content input,
.content textarea {
   margin-bottom: 1em;
}
.content textarea {
   min-height: 12em;
   resize: vertical;
}
input.danger {
   color: #cc2f2e;
}
/* input[type="submit"] {
   align-self: start;
   min-width: 10em;
} */
.general_body {
   font-size: 1.5em;
}
.matrix_title {
   padding: 0.75em 4.5em;
}
.matrix_header {
   margin: 0 4.5em;
}
.matrix_row_label {
   display: inline-block;
   width: 4.5em;
}
.matrix_row {
   display: inline-block;
}
.f1_score {
   display: inline-flex;
   width: 100%;
   padding: 1em 0em;
   justify-content: space-around;
}
.matrix_values {
   display: inline-block;
   width: 3.5em;
}
.center {
   padding: 10px;
   text-align: center;
}
.document_move {
   display: inline-flex;
   align-items: space-around;
   justify-content: space-around;
}
.link {
   display: flex;
   text-align: center;
   justify-content: space-around;
   font-size: 3rem;
}
.link a {
   text-decoration: none;
   font-weight: lighter;
}
.link a:hover {
   background-color: rgba(140, 145, 150, 0.3);
}
.back_image,
.register_container {
   min-height: 95vh;
   padding-bottom: 5vh;
}
.register_container {
   background: url("images/background.jpeg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
.back_image {
   background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.register_container {
   display: flex;
}
.register_form {
   max-width: 600px;
   margin: auto;
   background-color: white;
   padding: 25px 50px 0px 50px;
   box-shadow: 0px 0px 2px 1px rgb(61, 60, 60);
}
.toggle_register {
   align-self: center;
}
input[id="submit"] {
   background-color: #377ba8;
   color: white;
   width: 100%;
   height: 50px;
   font-size: 1.5em;
   border: 0;
}
input[id="submit"]:hover {
   background-color: #25516e;
}
input[value="Sign Up"] {
   background-color: rgb(63, 145, 117);
   color: white;
   width: 50%;
   height: 45px;
   font-size: 1.3em;
   border: 0;
}
input[id="off"] {
   background-color: #377ba8;
   color: white;
   width: 200px;
   height: 45px;
   font-size: 1.3em;
   border: 0;
   text-align: center;
   margin: 0;
}
input[id="off"]:hover {
   background-color: #25516e;
}
.toggle_register {
   display: flex;
   width: 100%;
   justify-content: center;
}
.register_button {
   align-self: center;
   padding: 10px;
   width: 200px;
}
input[required="required"] {
   border: 2px solid rgb(77, 80, 79);
   font-size: 1.3em;
   padding-left: 10px;
   padding: 7px 0px 7px 7px;
   margin: 20px 0px 20px 0px;
}
.fake_button {
   display: flex;
   width: 200px;
   color: white;
   background-color: rgb(63, 145, 117);
   justify-content: center;
   align-items: center;
   font-size: 1.3em;
}
.top,
.bottom {
   height: 49vh;
   display: flex;
   justify-content: space-between;
}
.top {
   margin-bottom: 2vh;
}
.bottom {
   margin-top: 2vh;
}
.top_left,
.top_right,
.bottom_left,
.bottom_right {
   display: flex;
   flex: 1;
   height: 100%;
   text-align: center;
   justify-content: center;
   align-items: center;
}
.top_left {
   margin-right: 1vh;
   background-image: linear-gradient(
      to right,
      #ff8177 0%,
      #ff867a 0%,
      #ff8c7f 21%,
      #f99185 52%,
      #cf556c 78%,
      #b12a5b 100%
   );
}
.top_right {
   margin-left: 1vh;
   background-image: linear-gradient(120deg, #96e6a1 0%, #d4fc79 100%);
}
.bottom_left {
   margin-right: 1vh;
   background-image: linear-gradient(
      to right,
      #cf556c 0%,
      #ff867a 30%,
      #96e6a1 70%,
      #d4fc79 100%
   );
}
.bottom_right {
   margin-left: 1vh;
   background-image: radial-gradient(#ff8177, #d4fc79);
}
.block_link {
   font-size: 2rem;
   text-decoration: none;
   font-weight: lighter;
}
.button_border {
   padding: 5px;
   border: solid;
   border-radius: 25px;
}
.main_page_content hr {
   padding: 5px;
}
.main_page_content,
.ending {
   padding: 4% 4% 2% 4%;
   text-align: center;
   font-size: 1.3em;
}
.main_page_content {
   justify-content: space-between;
   display: flex;
}
.page_padding {
   padding: 0% 4% 0% 4%;
}
.spacing {
   padding-bottom: 40px;
}
.small_spacing {
   padding-bottom: 20px;
}
.smallest_spacing {
   padding-bottom: 15px;
}
.half_text {
   width: 50%;
   margin: 2%;
}
.large_spacing {
   padding-bottom: 80px;
}
.visuals_container {
   display: flex;
   align-items: center;
}
.shap {
   width: 55%;
}
.double_dropdown {
   margin: auto;
}
.btn-mid {
   width: 90px;
   height: 40px;
   margin: 0 5px 0 5px;
}
.username {
   height: 40px;
   width: 100px;
   display: flex;
   align-items: center;
}
.breadcrumb-item {
   display: flex;
}
.custom_breadcrumb {
   height: 5vh;
   display: flex;
   text-align: left;
   padding: 0;
   margin: 0;
   margin-left: 15px;
   align-items: center;
   width: 30%;
}
div#content {
   display: none;
}
div#loading {
   display: none;
   position: absolute;
   z-index: 1000;
}
div#cursor {
   cursor: default;
}
.card-img-top {
   max-width: 100%;
   max-height: 100%;
}
.img_container {
   height: 270px;
}
.limited_width {
   width: 90%;
}
.end {
   right: 10px;
}
nav .one_row {
   display: flex;
   width: 100%;
   justify-content: flex-end;
}
.no_margin {
   margin: 0;
   padding: 0;
   height: 20px;
}
.doc_num_nav {
   display: flex;
   width: 100%;
   background-color: white;
   padding-bottom: 80px;
}
.white_button {
   background-color: white;
   color: black;
}
input[id="dropdown"] {
   margin: 0;
}
.card_container {
   display: flex;
   flex: 1;
   height: 95vh;
   align-items: center;
   justify-content: space-around;
   background-color: rgb(89, 136, 161);
}
.card-title {
   font-size: 1.6em;
}
.card-text {
   font-size: 1.2em;
}
.center_dots {
   display: flex;
   align-items: center;
   height: 30px;
}
.push {
   width: 40%;
}
.inline {
   display: flex;
}
.matrix_container {
   display: flex;
   width: 100%;
   justify-content: space-evenly;
}
.pred {
   font-size: 1em;
   text-align: center;
   margin: 5%;
   padding: 1%;
   padding-top: 4%;
   background-color: #e3f2fd;
   height: 100%;
   display: flex;
   flex-direction: column;
   background-color: #e3f2fd;
   border: 0.5px black solid;
}
.column {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.general_shap {
   width: 20%;
}
.span {
   white-space: pre-line;
}
.lime {
   width: 50%;
   background-color: red;
}
.horiz_space {
   margin-left: 1%;
}
.large_horiz_space {
   margin-left: 2%;
}
.predic_container {
   display: flex;
   align-items: center;
   width: 30%;
   background-color: #e3f2fd;
   border: 0.5px black solid;
}
.model_name {
   width: 7em;
}
.flex {
   display: flex;
}
.outlier {
   border: 2px solid red;
}
.small_text {
   font-size: 0.8em;
   text-align: center;
}
.equal_flex {
   flex: 1;
}
.shap_text {
   font-size: 1.2em;
   padding: 2% 5% 0 5%;
}
.white_background {
   background-color: white;
}
.max_height_95 {
   height: 95vh;
}
.perfect_fit {
   height: 100vh;
   object-fit: cover;
}
.carousel_text {
   font-size: 1.55em;
   margin: 0 10%;
}
.black_text {
   color: black;
}
.limit_button {
   margin-top: 5vh;
}
.questionnaire {
   margin: 3%;
   display: flex;
}
.end_response {
   display: flex;
   flex: 1;
   justify-content: flex-end;
   height: 40px;
   margin-bottom: 2%;
   padding-bottom: 3%;
}
.move_top {
   margin-bottom: 50px;
}
.center_flex {
   justify-content: center;
   align-items: center;
}
.vertical_center {
   margin-top: 2%;
}
.btn-lg {
   width: 150px;
   margin: 0 2%;
}
.limit_width {
   width: 100px;
   margin: 0 0.5%;
}
.questionnaire_btn {
   align-self: flex-end;
   padding-top: 20px;
}
.invisible {
   width: 0;
   height: 0;
}
.limit_text_width {
   margin: 0 21.5%;
}
.limit_text_width2 {
   margin: 0 17%;
}
.questionnaire_text {
   font-size: 1.3em;
}
.matrix_subtext {
   font-size: 0.7em;
   justify-content: space-evenly;
}
.x_axis {
   width: 86%;
}
.rotate_text {
   display: flex;
   transform: rotate(-90deg);
   align-items: center;
   width: 30px;
}
.matrix_label {
   transform: rotate(-90deg);
   align-items: center;
   justify-content: center;
   width: 15px;
   font-size: 0.8em;
}
.non_sens_text {
   height: 285px;
}
.sens_text {
   height: 80px;
}
.matrix_predicted_label {
   margin-right: 70px;
   font-size: 0.8em;
}
.space {
   margin-left: 0.3em;
}
.dark {
   color: black;
}
.white_text {
   color: white;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
   height: 75px;
   width: 75px;
}
