html,
body {
   font-family: sans-serif;
   padding: 0;
   margin: 0;
}

h1 {
   font-family: serif;
   font-size: 1.9em;
   color: #377ba8;
   position: absolute;
   height: 2.5vh;
   /* padding-top: 10px; */
}
h2 {
   font-family: serif;
   color: #377ba8;
   margin: 0 0 0 0;
   /* padding-top: 50px; */
   padding: 5% 0% 1% 0%;
   /* max-width: 960px; */
   /* height: 2.5vh; */
}

a {
   /* color: #377ba8; */
   color: black;
}
hr {
   border: none;
   border-top: 1px solid lightgray;
}
nav {
   margin: auto;
   display: flex;
   flex-direction: row;
   justify-content: center;
}
nav h1 {
   flex: auto;
   margin: 0;
}

nav ul {
   display: flex;
   flex: 1;
   flex-direction: row;
   list-style: none;
   margin: 0;
   padding: 0;
   justify-content: flex-end;
   text-align: right;
}
nav ul li a,
nav ul li span,
header .action {
   display: block;
   padding: 0.5rem;
}

.main_page_content {
   padding: 1% 4% 2% 4%;
   margin: 0 auto;
   text-align: justify;
   text-justify: inter-word;
}
.content > header {
   display: flex;
   align-items: flex-end;
}
.content > header h1 {
   flex: auto;
   margin: 1rem 0 0.25rem 0;
}
.flash {
   margin: 1em 0;
   padding: 1em;
   background: #687f8a;
   border: 1px solid #377ba8;
}
.post > header {
   display: flex;
   align-items: flex-end;
   font-size: 0.85em;
}
.post > header > div:first-of-type {
   flex: auto;
}
.post > header h1 {
   font-size: 1.5em;
   margin-bottom: 0;
}
.post .about {
   color: slategray;
   font-style: italic;
}
.post .body {
   white-space: pre-line;
}
.content:last-child {
   margin-bottom: 0;
}
.content form {
   margin: 1em 0;
   display: flex;
   flex-direction: column;
}
.content label {
   font-weight: bold;
   margin-bottom: 0.5em;
}
.content input,
.content textarea {
   margin-bottom: 1em;
}
.content textarea {
   min-height: 12em;
   resize: vertical;
}
input.danger {
   color: #cc2f2e;
}
input[type="submit"] {
   align-self: start;
   min-width: 10em;
}
.general_body {
   font-size: 1.5em;
}
.matrix_title {
   padding: 0.75em 4.5em;
}
.matrix_header {
   margin: 0 4.5em;
}
.matrix_row_label {
   display: inline-block;
   width: 4.5em;
}
.matrix_row {
   display: inline-block;
}
.f1_score {
   display: inline-flex;
   width: 100%;
   padding: 1em 0em;
   justify-content: space-around;
}
.matrix_values {
   display: inline-block;
   width: 3.5em;
}
.center {
   padding: 10px;
   text-align: center;
}
.document_move {
   display: inline-flex;
   align-items: space-around;
   justify-content: space-around;
}

.link {
   display: flex;
   text-align: center;
   justify-content: space-around;
   font-size: 3rem;
}
.link a {
   text-decoration: none;
   font-weight: lighter;
}
.link a:hover {
   background-color: rgba(140, 145, 150, 0.3);
}

.before_register {
   text-align: center;
   margin: 100px 0px 50px 0px;
}

.back_image,
.register_container {
   height: 100vh;
   background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
   /* background: url("images/sensitive-information.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

.register_container {
   display: flex;
}

.register_form {
   max-width: 500px;
   margin: auto;
   background-color: rgb(23, 25, 32);
   padding: 25px 50px 0px 50px;
}

.toggle_register {
   align-self: center;
}

input[id="submit"] {
   background-color: rgb(63, 145, 117);
   color: white;
   width: 100%;
   height: 50px;
   font-size: 1.5em;
   border: 0;
}
input[value="Sign Up"] {
   background-color: rgb(63, 145, 117);
   color: white;
   width: 50%;
   height: 45px;
   font-size: 1.3em;
   border: 0;
}
input[id="off"] {
   background-color: rgb(77, 80, 79);
   color: white;
   width: 200px;
   height: 45px;
   font-size: 1.3em;
   border: 0;
   text-align: center;
   margin: 0;
}
input[id="on"] {
   background-color: rgb(63, 145, 117);
   color: white;
   width: 200px;
   height: 45px;
   font-size: 1.3em;
   border: 0;
   margin: 0;
}

input[id="off"]:hover {
   background-color: rgb(42, 100, 81);
}

.toggle_register {
   display: flex;
   width: 100%;
   justify-content: center;
}

.register_button {
   align-self: center;
   padding: 10px;
}

input[required="required"] {
   border: 2px solid rgb(77, 80, 79);
   background-color: rgb(23, 25, 32);
   font-size: 1.3em;
   padding-left: 10px;
   padding: 7px 0px 7px 7px;
   color: white;
   margin: 20px 0px 20px 0px;
}

.fake_button {
   display: flex;
   width: 200px;
   background-color: rgb(63, 145, 117);
   justify-content: center;
   align-items: center;
   font-size: 1.3em;
}

.top,
.bottom {
   height: 49vh;
   display: flex;
   justify-content: space-between;
}
.top {
   margin-bottom: 2vh;
}

.bottom {
   margin-top: 2vh;
}

.top_left,
.top_right,
.bottom_left,
.bottom_right {
   display: flex;
   flex: 1;
   height: 100%;
   text-align: center;
   justify-content: center;
   align-items: center;
}

.top_left {
   margin-right: 1vh;
   background-image: linear-gradient(
      to right,
      #ff8177 0%,
      #ff867a 0%,
      #ff8c7f 21%,
      #f99185 52%,
      #cf556c 78%,
      #b12a5b 100%
   );
}

.top_right {
   margin-left: 1vh;
   background-image: linear-gradient(120deg, #96e6a1 0%, #d4fc79 100%);
}

.bottom_left {
   margin-right: 1vh;
   background-image: linear-gradient(
      to right,
      #cf556c 0%,
      #ff867a 30%,
      #96e6a1 70%,
      #d4fc79 100%
   );
}

.bottom_right {
   margin-left: 1vh;
   background-image: radial-gradient(#ff8177, #d4fc79);
}

.nav_img {
   background: url("images/background.jpeg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.block_link {
   font-size: 2rem;
   text-decoration: none;
   font-weight: lighter;
}
