{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{{ url_for('classifier.classifier_main_page') }}">Home</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">Login</li>
{% endblock %}

{% block content %}
  <div class="register_container">
    <div class="register_form">
      <form method="post">
        <div class="toggle_register">
          <input type="submit" value="Sign Up" name="go_sign_up" id="off">
          <div class="fake_button">
            Login
          </div>
        </div>
      </form>
      <form method="post">
        <input name="username" id="username" required="required" placeholder="Username*">
        <input type="password" name="password" id="password" required="required" placeholder="Password*">
        <div class="register_button">
          <input type="submit" value="Log in" id="submit">
        </div>
      </form>
    </div>
  </div>
{% endblock %}