{% extends 'base.html' %}

{% block content %}
  <div class="register_container">
    <div class="register_form">
      <form method="post">
        <div class="toggle_register">
          <input type="submit" value="Sign Up" name="go_sign_up">
          <input type="submit" value="Log In" name="go_login">
        </div>
      </form>
      <form method="post">
        <input name="username" id="username" required="required" placeholder="Username*">
        <input type="password" name="password" id="password" required="required" placeholder="Password*">
        <div class="register_button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

{% endblock %}
